[Unit]
Description=tg-ws-proxy
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=redalexdad
WorkingDirectory=/home/redalexdad/GitHub/tg-ws-proxy
ExecStartPre=/usr/bin/docker info
ExecStart=/usr/bin/make run
ExecStop=/usr/bin/make stop
ExecReload=/usr/bin/make restart
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
